In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/anaemia-prediction/output.csv

In [3]:
#importing the file
train = pd.read_csv('/kaggle/input/anaemia-prediction/output.csv')

In [4]:
#viewing the dataset
train.head()

   Number Sex  %Red Pixel  %Green pixel  %Blue pixel    Hb Anaemic
0       1   M     43.2555       30.8421      25.9025   6.3     Yes
1       2   F     45.6033       28.1900      26.2067  13.5      No
2       3  F      45.0107       28.9677      26.0215  11.7      No
3       4   F     44.5398       28.9899      26.4703  13.5      No
4       5  M      43.2870       30.6972      26.0158  12.4      No

In [5]:
#viewing dataset
train.head(12)

    Number Sex  %Red Pixel  %Green pixel  %Blue pixel    Hb Anaemic
0        1   M     43.2555       30.8421      25.9025   6.3     Yes
1        2   F     45.6033       28.1900      26.2067  13.5      No
2        3  F      45.0107       28.9677      26.0215  11.7      No
3        4   F     44.5398       28.9899      26.4703  13.5      No
4        5  M      43.2870       30.6972      26.0158  12.4      No
5        6   M     45.0994       27.9645      26.9361  16.2      No
6        7   F     43.1457       30.1628      26.6915   8.6     Yes
7        8  F      43.6103       29.1099      27.2798  10.3      No
8        9   F     45.0423       29.1660      25.7918  13.0      No
9       10   F     46.5143       27.4282      26.0575   9.7     Yes
10      11   F     45.3506       29.1248      25.5246  12.6      No
11      12   F     44.4062       28.9298      26.6640  15.4      No

In [6]:
#viewing the last 5 rows
train.tail()

     Number Sex  %Red Pixel  %Green pixel  %Blue pixel    Hb Anaemic
99      100  F      49.9999       29.2860      20.7141  14.5     Yes
100     101  M      42.2324       30.6757      27.0919   6.3     Yes
101     102   F     45.6064       31.9084      22.4852  12.7      No
102     103  M      45.2095       29.2769      25.5136  13.4      No
103     104   F     43.5706       29.8094      26.6199  12.2      No

In [7]:
#checking the centre rows
train.iloc[44:51]

    Number Sex  %Red Pixel  %Green pixel  %Blue pixel    Hb Anaemic
44      45   M     44.1868       28.9764      26.8368  14.1      No
45      46  M      46.9428       27.2219      25.8353  13.3      No
46      47   M     48.8523       26.2003      24.9474  14.1      No
47      48   M     45.7581       27.2867      26.9553  11.8      No
48      49  M      48.5356       26.4917      24.9727  15.6      No
49      50  M      45.5833       27.6916      26.7252  11.7      No
50      51   M     45.9659       28.4015      25.6326  13.0      No

In [8]:
#getting the shape of dataset
print(train.shape)
print('the dataset has', train.shape[0],'no of rows')
print('the dataset has', train.shape[1],'no of columns')

(104, 7)
the dataset has 104 no of rows
the dataset has 7 no of columns

In [10]:
#checking the missing values
train.isnull().sum()

Number          0
Sex             0
%Red Pixel      0
%Green pixel    0
%Blue pixel     0
Hb              0
Anaemic         0
dtype: int64

In [12]:
#checking the duplicate
train.duplicated().sum()

0